### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/
.run/

### Eclipse ###
.apt_generated/
.classpath
.eclipse/
.factorypath
.project
.settings/
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Operating systems ###
.DS_Store
Thumbs.db

### Minecraft mod development ###
run/
run-data/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
